body {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
}

img {
    width: 50px;
    cursor: pointer;
    border-radius: 1rem;
}

p {
    font-size: 1rem;
    margin-top: 0rem;
}

#title {
    font-size: 1.3rem;
    margin-bottom: 4rem;

}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 equal columns */
    gap: 1rem;
    /* space between items */
    max-width: 800px;
    /* optional, to limit width */
    margin: 0 auto;
    /* center horizontally */
}
